{% load static %}
<!doctype html>

<html lang="ko-KR">
<head>
    <link href="/static/styles/chat.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>traivler</title>
</head>

<body>
    <style>
        body {
        background-image:url('./img/Group 89.png');
        background-repeat: no-repeat;
        background-size: cover;
        }
</style>

<head>
</head>
 
    <div class='result' style='flex:0'>
      정답 : {{result.result}}
    </div >
 
  
</body>