{% extends "base.html" %}
{% block content %}
    <style>
    *{
        font-family: 'NanumBarunGothicRegular';
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }
     /* link - 아직 클릭하지 않은 경우 red 색상 설정 */
     a:link { color: black; text-decoration: none;}	
    /* visited - 한번 클릭하거나 전에 클릭한적 있을 경우  */
    a:visited { color: black; text-decoration: none;}	
    /* hover - 마우스를 해당 링크에 위치했을 경우 설정 */
    a:hover { color: #19bec9; text-decoration: underline;}

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

    }


</style>

    <body>
        <style>
            body {

                background-color:#f2f2f6;
                background-repeat: no-repeat;
                background-size: cover;
                }
        </style>
<div style="padding-top: 100px">
<!--<div class="container my-3" style="margin: 0 auto; border:none; padding:30px;width: 500px;border-radius: 10px; background-color: #ffffff;">
-->
<div class="text-table ">
    <div><h3 style="text-align: center;"><strong><span style="color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 30px;">About</span></strong>
    </h3></div>
<p style="text-align: center;"><br></p>
<div class="text-table "><div>
    <p style="text-align: center;"><span style="color: rgb(51, 51, 51);"><img src="/static/img/로고.png" class="fr-fin fr-dib" style="width: 400px;"></span></p>
    <br>
    <p style="text-align: center;"><br></p>
    <p style="text-align: center; ">
    <img src="/static/img/Group 87.png">
    </p>
    <br><br>

    <p style="text-align: center; ">
    <strong style = "font-size:25px;">
    누구나 사용할 수 있는 간단한 문장 검색</p>
    </strong>
    <br>
    <div class="_widget_data _ds_animated_except" data-widget-name="여백" data-widget-type="padding" data-widget-parent-is-mobile="N"><div class="widget padding" data-height="180" style="margin-top:px; margin-bottom:px;">
        <div id="padding_w202207116046ec05680bf" style="width:100%; min-height:1px; height:100px; ">
        </div>
    </div>
    <p style="text-align: center; ">

        <img src="/static/img/Group 87.png" style="width: 700px;">
    </p>

    <p style="text-align: center; ">
        <img src="/static/img/Group 88.png" style="width: 700px;">
    </p>
    <p style="text-align: center; ">

    <strong style = "font-size:25px;">
        빠른 검색 결과 확인</p>
        </strong> </p>

    </div>
    <div class ="meet">

        <div class="_widget_data _ds_animated_except" data-widget-name="여백" data-widget-type="padding" data-widget-parent-is-mobile="N">
            <div id="padding_w202207116046ec05680bf" style="width:100%; min-height:1px; height:180px;">
            </div>
        </div>
        <div  style="margin: 0 0 0 250px; " >
            
            <div class="text-table" style= "float: left;">
                <p style="text-align: left; float: left; margin: 50px 0 50px 0;">
                    <img src="/static/img/로고.png" style="padding:20px 30px; width:300px;">
                </p>
                <p style="text-align: left; float: left;" >
                    <img src="/static/img/줄.png" style="width:6px;">
                </p>
            </div>
            <div><!--위오아왼-->
            <div id="padding_w202207116fd8132522b82" style="width:5%; min-height:1px; height:300px; float: left; "></div>
            <p style="text-align: center;">
                <span style="color: rgb(51, 51, 51);"><br></span>
            </p>
            <div class="옆에" style="margin: 0 90px 0 0;">
                <strong><p style="text-align: left;"><span style="color: rgb(51, 51, 51); font-size:25px;">
                AI Place recommendation
                </span></p></strong>
                <p style="text-align: left;"><span style="color: rgb(51, 51, 51); font-size:20px;">
                검색 문장의 문맥을 파악하여</span>
                <span style="color: rgb(51, 51, 51); font-size:20px;">
                상황에 맞는 장소와 음식점을 추천해줍니다.</span></p>
            </div>

        </div>

    </div>

    <div id="padding_w202207116fd8132522b82" style="width:5%; min-height:1px; height:160px; ; "></div>

    </div>

    <div style="margin: 0; padding: 0;">
        <p style="text-align: center;">


            <img src="/static/img/Group 92 (1).png" style="color: rgb(51, 51, 51); width:40%; text-align:center;">
            
        </p>  


    </div>
    <div style="margin: 50px 80px auto; text-align: center;">
        
     

        <strong><span style="color: rgb(51, 51, 51); font-size:20px; text-align: center;"></p>
            AI를 활용하여 사용자의 리뷰를 분석하고 검색 문장의 문맥을 파악하여 상황에 맞는 장소와 음식점을 추천해주는 서비스입니다.
        </span></p></strong>
        <strong><span style="color: rgb(51, 51, 51); font-size:20px;text-align: center;"></p>
         간단한 문장으로 원하는 장소를 추천받아 보세요!
        </span></p></strong>  
    </div>
</div>
<div id="padding_w202207116fd8132522b82" style="width:100%; min-height:1px; height:300px; "></div>

</span></p></div></div>



    
</div>
</div>
</div>

    </body>
{% endblock %}
