body, html{
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            font-family: Apple SD Gothic Neo,arial,sans-serif;
        }
        .container{
            display: flex;
            flex-direction: column; /*글을 세로로 배치*/
            height: 100%;
        }
        .top-bar{
            display:flex;
            align-items: center;
            text-align: right;
            justify-content: flex-end;
            padding: 6px;

        }
        .top-bar>a{
            text-decoration: none;
            color: black;
        }
        .top-bar>#mail:hover, .top-bar>#image:hover{
            text-decoration: underline;
        }
        .top-menu{
            margin : 5px 15px;
            font-size: 15px;
        }

        .logo{
            display:flex;
            font-size: 100px;
            font-weight: 550;
            justify-content: center;
            margin-top: 24.364px;
        }

        .Search{
            padding: 20px;
        }
        .search-box-tool{
            position: relative;
            margin: 0 auto;
            padding-top: 6px;
            max-width: 584px;
        }
        .search-box{
            align-content: center;
            background-color: white;
            width: 100%;
            height: 46px;
            border: 1px solid #dfe1e5;
            border-radius: 30px;
            min-width: 360px;
            position: relative;
        }
        .search-box:hover{
            box-shadow: 0px 0px 10px gainsboro;
        }
        input:focus{
            outline: none;
        }
        .search-box>#input1{
            position: absolute;
            align-content: center;
            width: 76%;
            height: 90%;
            left: 8%;
            font-size: 17px;
            border: none;
        }
        .search-box>.fa-search{
            position: absolute;
            color:#70757a;
            top: 28%;
            font-size: 20px;
            left: 2%;
            z-index: 1;
        }
        .keyboard, .microphone{
            font-size: 12px;
            position: absolute;
            text-align: center;
            width: 65px;
            padding: 8px;
            background: #333;
            color: #fff;
        }
        .keyboard:after{
            /*
            bottom: 100%;
            width: 0;
            margin-left: -10px;
            position: absolute;
            left: 50%;
            height: 0;
            border-color: rgba(51, 51, 51, 0);
            border-bottom-color: #333;
            border-width: 10px;
            border: solid transparent;
            pointer-events: none;
            content: " ";
            */
        }
        .search-box>.fa-keyboard{
            position: absolute;
            cursor: pointer; /*손모양 커서*/
            color:#70757a;
            top: 28%;
            font-size: 20px;
            right: 8%;
        }
        .search-box>.fa-keyboard:hover .keyboard{
            visibility: visible;
        }
        .search-box>.fa-microphone{
            position: absolute;
            cursor: pointer; /*손모양 커서*/
            color:#70757a;
            top: 28%;
            font-size: 20px;
            right: 3%;
        }

        .search-click-bar{
            padding-top: 18px;
        }
        .etc{
            display: flex;
            justify-content: center;
        }
        .contents{
            background-color: #f8f9fa;
            color: #3c4043;
            border: 1px solid #f8f9fa;
            padding: 0 16px;
            margin: 11px 4px;
            line-height: 35px;
            height: 36px;
            border-radius: 4px;
            text-decoration: none;
        }
        .contents:hover{
            border: 1px solid gainsboro;
            box-shadow: 0px 0px 5px gainsboro;
        }

        .content{
            flex-grow: 1;/*빈자리 content자리로 채우기*/
        }
        .service-bar{
            display: flex;
            justify-content: center;
        }
        .service-bar>div>a{
            padding: 0 3px;
            text-decoration: none;
        }
        .service-bar>div>a:hover{
            text-decoration: underline;
        }

        .bottom-bar{
            background-color: #f2f2f2;
            align-items: flex-end;
            flex-shrink: 0; /*옆 비지 않게 채우기*/
        }
        .country{
            border: 1px solid #dadce0;
            color:#70757a;
            padding: 15px 30px;
            font-size: 15px;
        }
        .Bottom{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 0 20px;
        }
        .bottom-left, .bottom-right{
            display: flex;
            flex-wrap: wrap;
        }
        .bottom-item{
            text-decoration: none;
            color:#70757a;
            display: block;
            padding: 15px;
            white-space: nowrap;
            font-size: 14px;
        }
        .bottom-item:hover{
            text-decoration: underline;
        }