#container {
    width: 750px;
    padding: 50px;
    border: 1px dotted gray;
    margin: 50px;
    background-color: lightblue;
    position: absolute;
    top: 15%;
    left: 23%;
  }

  #bg {
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background: url(flame.jpg) left top no-repeat;
    background-size: cover;
  }

  .gul {
    text-align: right;
  }

  #search_box {
    width: 600px;
    height: 100px;
    font-size: 30px;
  }