@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
/* tag elements */
* {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 13px;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
body {
  background-color: rgb(245, 246, 247);
}
/* Global style */
.em_green {
  color: #19bec9;
  font-weight: bold;
}
.btn {
  display: block;
  text-align: center;
  background-color: #19bec9;
  color: #ffffff;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  text-decoration: none;
  font-weight: normal;
  border-radius: 20px;
}
/* Style */
#language {
  float: right;
  padding: 3px;
  margin: 10px;
}
.login_area {
  clear: both;
  max-width: 450px;
  margin: 0 auto;
}
.login_area header {
  text-align: center;
  margin-bottom: 30px;
}
.login_area header img {
  width: 300px;
}
.login_area section #username,
.login_area section #password {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: solid 1px #ffffff;
  margin-bottom: 20px;
}
.login_area .secure {
  display: flex;
  margin-top: 20px;
}
.login_area .secure div {
    flex: 1;
}
.login_area .secure .checkbox {
  position: relative;
}
.login_area .secure .checkbox #id_keep {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.login_area .secure .checkbox #id_keep + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.login_area .secure .checkbox #id_keep + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff;
  border-radius: 13px;
  color: #19bec9;
  vertical-align: middle;
}
.login_area .secure .checkbox i {
  position: absolute;
  top: 7px;
  left: 6px;
  font-size: 0.9em;
  color: #19bec9;
}
.login_area .secure .checkbox #id_keep + label:active:before,
.login_area .secure .checkbox #id_keep:checked + label:active:before {
  border: solid 2px #19bec9;
}
.login_area .secure .checkbox #id_keep:checked + label:before {
  color: #19bec9;
  border-color: #19bec9;
}
.login_area .secure .ip_on ul {
    display: flex;
}
.login_area .secure .ip_on ul li {
    flex: 1;
    text-align: center;
    border-right: solid 1px #ffffff;
}
.login_area .secure .ip_on ul li:last-of-type {
    border-right: 0;
}
.login_area .secure .ip_on ul li i.fa-question {
    font-size: .6em;
    border: solid 1px #ffffff;
    padding: 2px;
}
.login_area .secure .ip_on a.onetime {
    text-decoration: underline;
}




/* Responsive Layout Style */
@media screen and (max-width: 768px) {
}