
*{ margin: 0; padding: 0; }

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  header {
    height: 40px;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:rgb(0, 0, 0);
  }
  .logoImg{
    width: 250px;
    height: auto;
    }

.line{
    margin: 0;
    color: black;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
}

.wrapper{
border-radius: 20px;
width: 800px auto;
height: 550px;
transform: translate(0%, 5%);
margin: 0 10% 40% 10%; /*위 오 아 왼*/
}

.chat_title{
    background-color: #19bec9  ;
    width: 800px auto;
    height: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px; 
    font-weight: bold;
    }
span{
    height: 10px;
    line-height: 55px;
}

.chat{
    font-size: 14px;
    display:inline-block; /*글자에 따라 블럭 달라짐*/
    width: 200px auto;
    padding: 10px 10px;
    margin: 5% 10% 0% 5%;
    background-color: rgb(238, 232, 232);
    border-radius: 15px;
}

.chat2{
    font-size: 14px;
    display:inline-block; /*글자에 따라 블럭 달라짐*/
    width: 200px auto;
    padding: 10px 10px;
    margin: 2% 0% 0% 60%; /*위 오 아 왼*/
    background-color: #b0dee1;
    border-radius: 15px;
}


.chatting-input{ /*채팅 보내는 칸*/
    bottom: 0px;
    margin: 0px;
    border: none;
    cursor: auto;
    font-size: 15px;
    background-color: rgb(249, 248, 248);

}

.send-button{
    border: none;


}
.input-container{
    border-radius: 15px;
}